@import url('variables.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********** header ******************/
.header {
    /* background: orange; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.div__logo {
    /* background: blue; */
    /* padding: 15px; */
}
.div__menu {
    /* background: green; */
    /* padding: 15px; */
}
.ul__menu {
    /* background: violet; */
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
.ul__menu li a{
    color: var(--font-color-1);
    text-decoration: none;
}

/********** main ******************/
.main {
    /* background: red; */
    /* padding: 20px; */
}
.section__home {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2) 100%), var(--banner-1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 135svh;
    /* padding: 20px; */
}
.article__home {
    /* background: green; */
    /* padding: 20px; */
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
    
}
.article__home span{
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";

}
.article__home p{
    /* background: red; */
    width: 340px;
    font-family: "Montserrat-Medium";
}
/************* section menu **********************/

.section__icon{
    background: #071917;
    display: flex;
    justify-content: space-evenly;
}

/**********************************imagen2*******************************/
.section__card{


    background-size: cover;
    background-repeat: no-repeat;
    height: 135svh;
    position: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;

}

.article__card {

    width: 1394px;
    height: 360px;
    position:relative;
    top: 5svh;
    color: var(--font-color-1);
}

.article__card h1{

    font-size: 55px;
    font-family: "Montserrat-SemiBold";
}


body{

    background: #071917;
}







/************** version movil **********************/
@media (max-width: 960px) {
    .header{
        /* background: red; */
        padding: 15px;
    }
    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }
    .section__home{
        display: flex;
        justify-content: space-around;
    }
    .article__home{
        left: 0;
    }
    .article__home span{
        /* font-size: 1px; */
    }
    .article__home h1{
        font-size: 70px;
    }
    .article__home p{

    }
    .section__icon{
        justify-content: space-around;
    }
    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

@media (max-width: 576px) {
    .header{
        /* background: blue; */
        justify-content: normal;
    }
    .div__logo{
        flex: 1;
        /* background: red; */
    }
    .div__menu{
        width: 100%;
        /* background: violet; */
    }
    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }
    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left: 15px;
        padding-right: 15px;
        height: 95svh;
    }
}

