@import url('variables.css');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********** header ******************/
.header {
    /* background: orange; */
    /* padding: 15px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
}
.div__logo {
    /* background: blue; */
    /* padding: 15px; */
}
.div__menu {
    /* background: green; */
    /* padding: 15px; */
}
.ul__menu {
    /* background: violet; */
    /* padding: 15px; */
    display: flex;
    gap: 100px;
    padding-right: 100px;
    color: var(--font-color-1);
}
.ul__menu li{
    list-style: none;
    font-family: "Montserrat-SemiBold";
}
/********** main ******************/
.main {
    /* background: red; */
    /* padding: 20px; */
}
.section__home {
    background-image: linear-gradient(var(--color-gradient-1), var(--color-gradient-2)), var(--banner-1);
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 100svh;
    /* padding: 20px; */
}
.article__home {
    /* background: green; */
    /* padding: 20px; */
    width: 626px;
    height: 360px;
    position: relative;
    left: 21svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: var(--font-color-1);
    
}
.article__home span{
    font-size: 28px;
    font-family: "Montserrat-SemiBold";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-SemiBold";

}
.article__home p{
    /* background: red; */
    width: 340px;
    font-family: "Montserrat-Medium";
}