:root{
    --font-color-1: #eee;
    --color-gradient-1: #376e4014;
    --color-gradient-2: #071917;
    --banner-1: url(../storage/img/banner.png);
}
@font-face {
    font-family: "Montserrat-SemiBold";
    src: url(../storage/font/Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "Montserrat-Medium";
    src: url(../storage/font/Montserrat/static/Montserrat-Medium.ttf);
}

:root{
    --font-color-1: #eee;
    --color-gradient-1: #376e4014;
    --color-gradient-2: #071917;
    --banner-2: url(../storage/img/verde1.png);
}

:root{
    --font-color-1: #eee;
    --color-gradient-1: #376e4014;
    --color-gradient-2: #071917;
    --banner-3: url(../storage/img/señora1.png);

}

:root{
    --font-color-1: #eee;
    --color-gradient-1: #376e4014;
    --color-gradient-2: #071917;
    --banner-4: url(../storage/img/monalisa.png);

}