<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/blog.css.">
    <title>BLOG</title>
   
</head>
<body>
    <header class="navbar">
        <div class="logo">Blog</div>
        <nav class="menu">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-content">
        <section class="highlight">
            <img src="../storage/img/torre1.png" alt="Cityscape">
            <div class="highlight-text">
                <h1>Latest Highlights</h1>
                <p>Lorem ipsum, suspendisse malesuada risus eget tristique porttitor.</p>
                <button class="btn-read-more">Read More</button>
            </div>
        </section>

        <section class="blog-posts">
            <h2>Recent Blogs</h2>
            <div class="posts-grid">
                <div class="post">
                    <img src="../storage/img/post1.png" alt="Post Image">
                    <h3>Blog Post Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <button class="btn-read-more">Read More</button>
                
                </div>
                <div class="post">
                    <img src="../storage/img/post2.png" alt="Post Image">
                    <h3>Blog Post Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <button class="btn-read-more">Read More</button>
                </div>
                <div class="post">
                    <img src="../storage/img/post3.png" alt="Post Image">
                    <h3>Blog Post Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <button class="btn-read-more">Read More</button>
                </div>
                <div class="post">
                    <img src="../storage/img/post5.png" alt="Post Image">
                    <h3>Blog Post Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <button class="btn-read-more">Read More</button>
                </div>
                <div class="post">
                    <img src="../storage/img/post6.png" alt="Post Image">
                    <h3>Blog Post Title</h3>
                    <p>Lorem ipsum dolor sit amet consectetur.</p>
                    <button class="btn-read-more">Read More</button>
                </div>
             </div>  
        
        </section>
    </main>

    <footer class="footer">
        <p>&copy; 2025 Blog. All Rights Reserved.</p>
        <div class="social-links">
            <a href="#">Facebook</a>
            <a href="#">Twitter</a>
            <a href="#">Instagram</a>
        </div>
    </footer>
</body>
</html>

     
